.UserPlaylists {
  display: flex;
  flex-direction: column;
  /* gap: 2.2rem; */
  align-items: center;
  width: 30%;
  max-height: 950px;
  overflow-y: scroll;
  padding: .88rem;
  background-color: rgba(1, 12, 63, 0.7);
  box-shadow: 0 4px 2px 2px #000000;
}
.UserPlaylists h2{
  padding-top: 1.7rem;
  text-align: center;
  font-size: 1.7rem;
  background-color: none;
}
.Playlist-select {
  cursor: pointer;
  width: 10rem;
  padding: .77rem 0;
  border-radius: 54px;
  border-width: 0px;
  margin-top: 1.27rem;
  background-color: #6c41ec;
  text-align: center;
  font-size: .83rem;
  transition: background-color .25s;
  color: #fff;
  font-weight: 500;
  margin-bottom: 3rem;

}

.Playlist-select:hover {
  background-color: rgba(133, 93, 255, 0.7);
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

@media only screen and (max-width: 1020px) {
  .UserPlaylists {
    width: 90%;
    margin-bottom: 2rem;
  }
}